/* Overall page */

.clearfix {
    overflow: auto;
}

body {
    color: #333333;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0 auto;
    padding: 0px;
}

h1, h2, h3, ul {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a {
    color: #111111;
}

.titlePage {
    margin-top: 2rem;
    color: #111111;
    font-size: 3rem;
    font-weight: 00;
    padding-bottom: 15px;
    border-bottom: double .01rem #ccc;
}


.articuleHeader{
    font-size:32px;
    font-weight: 20;
    font-family: 'Stylish', sans-serif;    
    margin-top:10px
}


.footer_style {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px 0 20px 0;
    color: #362b2b;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 12px;
    opacity: .7;
    background-color: #DEE1E6;
}

.articleDescription{
    margin-top: 10px;
    font-size: 19px;;
    width: 100%;
    line-height: 1.5;
    color:#333333;
}

.articleRow{

    margin-top: 1rem;
    padding: 1rem;
}

.articleImage {
    width: 75%;
    height: auto;
    margin: 0px 0;
}

.cardCustom {
    background-color: #f8f8f8;
    width: 300px;
    margin-top: 20px;
}